body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222; /* Dark background */
    color: #eee; /* Light text */
}

#quiz-container {
    text-align: center;
    margin-top: 20px;
}

#plant-image {
    width: 600px;
    height: 450px;
    object-fit: contain; /* Prevent stretching */
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 8px;
}

#options-container {
    margin-top: 20px;
    display: none; /* Hidden by default */
    width: 600px; /* Same width as image */
}

.option-btn {
    width: calc(100% - 20px); /* 100% width minus horizontal margins */
    margin: 10px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #444;
    color: #eee;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#final-score-container {
    margin-top: 30px;
    text-align: center;
}
